* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

li {
    /* 水平排列垂直居中 */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
}

li:hover {
    background-color: rgba(87, 87, 87, 0.208);
    cursor: pointer;
}


/* 左侧设置列表 */
.setting {
    position: relative;
}

.setting_list {
    position: fixed;
    top: 20px;
    left: 20px; 
    width: 200px;
    border-radius: 4px;
    transition: all 0.5s ease;
}


.setting_list:hover {
    background-color: rgba(255, 255, 255, 0.15);
    /* 背景胡话 */
    backdrop-filter: blur(8px);
    /* 兼容 Safari */
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.setting_list li {
    padding: 10px;
}

.setting_set_list {
    position: absolute;
    top: 20px;
    left: 240px;
    width: 600px;
    border-radius: 4px;
    transition: all 0.5s ease;
}


.setting_set_list:hover {
    background-color: rgba(255, 255, 255, 0.15);
    /* 背景胡话 */
    backdrop-filter: blur(8px);
    /* 兼容 Safari */
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
}

.setting_set_list li {
    padding: 10px;
}


.fontFamily, .tipStyle {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 30px;
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1.5;
}

.select {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.select_head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.select_body {
    background-color: rgb(255, 255, 255);
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
}



.select_body div {
    padding: 10px 5px;
    border-radius: 5px;
}

.select_body div:hover {
    background-color: rgba(87, 87, 87, 0.208);
}

input {
    margin: 0 60px;
    opacity: none;
    outline: none;
}


input[type="radio"] {
    margin: 5px;
}

input[type="text"] {
    padding: 4px;
    border-radius: 4px;
}